<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Testsuite1">
   <classes>
      <class name="Testcases.TitleTest"/>
      <class name="Testcases.AboutUshover"/>
      <class name="Testcases.contactformTest"/>
      <class name="Testcases.IndustriesTest"/>
      <class name="Testcases.ServicesTest"/>
    </classes>
  </test> 
   <test thread-count="5" name="Testsuite2">
   <classes>
      <class name="Testcases.TechnologiesTest"/>
      <class name="Testcases.SpecializationTest"/>
    </classes>
  </test> 
  <!-- Test -->
</suite> <!-- Suite -->